tbody td {
    white-space: nowrap;
}
input[type=number] {
    width: 50px;
}

footer {
    font-size: 0.7rem;
    text-align: center;
    color: darkgray;
}
footer a {
    color: gray;
    text-decoration: underline;
}